<!DOCTYPE html>
<html>
<head>
    <title>Simple Demo</title>
</head>
<body style="background-color: rgb(39, 39, 179); color:azure ">
    <h1>{{ config["app_environment"] }}</h1>
    <p>Just a simple App running in AKS</p>
   
    <h3>Cluster Information</h3>
    <table> 
         <tr><td>Pod Name</td><td>{{ config["podName"] }}</td></tr>
         <tr><td>Node Name</td><td>{{ config["nodeName"] }}</td></tr>
         <tr><td>Pod IP</td><td>{{ config["podIp"] }}</td></tr>
         <tr><td>Pod Namespace</td><td>{{ config["podNamespace"] }}</td></tr>
    </table>  

</body>
</html>
